[Unit]
Description=Daily backup of Eastside VB Website
Documentation=file://%E/backup.sh

[Service]
Type=oneshot
EnvironmentFile=/etc/default/volleyball_site.env
ExecStart=/bin/bash %E/backup.sh
StandardOutput=journal
StandardError=journal
