<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.eastsidevolleyball.server</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/klaysolis/eastside vb website/start_server.sh</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/klaysolis/eastside vb website</string>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
        <key>Crashed</key>
        <true/>
    </dict>
    
    <key>StandardOutPath</key>
    <string>/Users/klaysolis/eastside vb website/logs/server.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/klaysolis/eastside vb website/logs/server.error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/Users/klaysolis/eastside vb website/.venv/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>DJANGO_SETTINGS_MODULE</key>
        <string>volleyball_site.settings</string>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>5</integer>
</dict>
</plist>
